.content_container{
    background-color:#1f1e1e;
    height: calc(100% - 130px);
    max-width: calc(100% - 220px);
    min-width: 520px;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

.display-left{
    background-color: transparent;
}

.highlightSlider{
    padding: 20px 0px;
}

.swiper-button-prev{
    background-color: chartreuse;
}

.swiper-button-next{
    background-color: chartreuse;
    align-items: center;
    justify-content: center;
}



.chart_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 20px 0px;
    cursor: pointer;
    color: white;
}


.th_title{
    text-decoration: none;
}

.icon_right{
    padding-left: 6px;
}

.chart_title:hover > .icon_right {  padding-left: 12px; }
/* .icon_right:hover{
    padding-left: 12px; 
} */

.content_full{
    background-color: transparent;
    padding: 0px 50px;
}


.section_slide_wrap{
    padding-bottom: 20px;
}

.jsx_track{
  height: 100px; 
  width: 350px;
  display: flex;
  flex-direction: row;
  background-color: #BC8F8F;

}

.thumnail{
    width: 100px;
    height: 100px;
}

.track_title{
    font-weight: bold;
}

.track_dsc{
    padding-left: 8px;
    padding-top: 4px;
}

.top_chart_list{
    display: flex;
    flex-direction: column;
    padding-left: 8px; 
}

.music{
    padding-left: 8px; 
    font-size: 14px;
}

.count{
    font-weight: bold;
    font-size: 14px;
}

.playlist{
    padding-top: 2px;
}

.MediaWrap{
    display: flex;
    flex-direction: column;
    color: #ebebeb;
    margin-right: 4px;
}

.jsx_desc{
    font-size: 12px;
    background-color: transparent;
    padding: 4px 0px;
}