
.hamburger{
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 10;
    padding-left: 10px;
}

.burber{
    width: 1.5rem;
    height: 0.15rem;
    border-radius: 10px;
    background-color: gray;
    /* transform-origin: 1px;
    transition: all 0.3s linear; */
}
