.row_item{
    /* background-color: #111111; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.icon_item{
    width: 140px;
    height: 50px;
}

.search_item{
    width: 420px;
    height: 50px;
}

.btn_item{
    width: 300px;
    height: 50px;    
}

.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #f8f9fa;
    border: 1px solid #dfe1e5;
    border-color: green;
    box-shadow: none;
    z-index: 3;
    height: 32px;
    max-width: 300px;
    margin-top: 8px;
}

.search_icon{
    height: 30px;
    width: 30px;
    padding-right: 10px;
    display: flex;
    align-items: center;  
    fill: #111111;;
}

.search_input{
    height: 36px;
    width: 290px; 
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 12px;
    
    outline: none;
    font-size: 14px;
}