.radio_btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 150px;
    height: 100%;
    margin: 40px;

}
.shuffle_icon{
    width: 16px;
    height: 16px;   
}

.play_icon{
    width: 40px;
    height: 40px;   
}

.next_icon{
    width: 22px;
    height: 22px;   
}

.back_icon{
    width: 16px;
    height: 16px;    
}

.repeat_icon{
    width: 18px;
    height: 18px;    
}
.icon_container{
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play_icon_container{
    width: 38px !important;  
}