.sidebar_bg{
    background-color: rebeccapurple;
    width: 220px;
    /* height: 100%; */
    z-index: 1;
    overflow-x: hidden;
    height: calc(100% - 130px);
}

.discover_box{
    width: 100%;
    height: 144px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.discover_item{
    width: 100%;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; 
    padding-left: 20%;
}

.discover_icon{
    width: 36px;
    height: 36px;
    padding-right: 8px;
}
.discover_name{
    width: calc(100% - 36px);
    height: 36px;
    font-size: 14px;
    color: #ffffff;
}

.joox_icon{
    width: 140px;
    height: 140px;
}


.download_box{
    width: 100%;
    height: 144px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;  
}

.download_ads{
    width: 80%;
    height: 80%;  
    background-color: white;
}
.sidebar_bg > .download_box > .download_btn{
    width: 80%;
    height: 20%; 
    margin-top: 10px; 
    background-color: #09de6e;
    border: 1px solid #09de6e;
    border-radius: 20px;
    cursor: pointer;
}

.break_line{
    width: 100%;
    height: 1px;   
    background-color: #ffffff;
    margin-top: 10px; 
}
.title{
    padding-left: 20%;
    padding-bottom: 20px;
}