.timer_set{
    max-width: 460px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-size: 14px;
    justify-content: center;
}

.track{
    height: 2px;
    width: 100%;
    background-color: rgb(151, 149, 149);
    margin: 0 20px;
}

.timer_line_2{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.timer_line_1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.music_name{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.favorite{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end
}

.star_icon{
    width: 30px;
    height: 30px;
    padding-right: 10px;
}

.share_icon{
    width: 30px;
    height: 30px;
}

.music_name_th{
    padding-right: 8px;
    border: none;
}